<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:os-core="http://www.openspaces.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.openspaces.org/schema/core http://www.openspaces.org/schema/10.1/core/openspaces-core.xsd">

    <bean id="propertiesConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties">
            <props>
                <prop key="dataGridName">dataGrid</prop>
                <prop key="devices">[/dev/sdb1,/dev/sdc1]</prop>
            </props>
        </property>
    </bean>

    <!--<bean id="rocksdb" class="com.gigaspaces.blobstore.rocksdb.RocksDBBlobStoreHandler" />-->
    <bean id="rocksdb" class="com.gigaspaces.blobstore.rocksdb.RocksDBBlobStoreHandlerMultiDBs">
        <property name="dbPath" value="/tmp/kobi"/>
    </bean>




    <os-core:space id="space" url="/./${dataGridName}" lookup-groups="${user.name}">
        <os-core:blob-store-data-policy blob-store-handler="rocksdb" recover-from-blob-store="false" cache-entries-percentage="0"/>
    </os-core:space>


    <os-core:giga-space id="gigaSpace" space="space"/>
</beans>
